body{
    background-color:  #0E1424;
    margin-top: 5%;
}

#titulo{
    color:#EF5400;
    font-size: 40px;
    text-align: center;
}

#sair{
    margin-left: 50%;
    font-size: 30px;
}

#sair:hover{
    color: #91DCE4;
}

#logo{
    margin-left: 23%;
}